<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Anedotas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/uteis.js') }}"></script>
</head>
<body>

<header>
    <div class="container main-header">
        <div>
            <h1>😂 Anedotas do Dia</h1>
            <nav>
                <!-- <a href="/">Home</a> -->
                <a href="{{url_for('anedotas.dashboard')}}">Home</a>
                <a href="{{url_for('anedotas.aleatoria')}}">Aleatória</a>
                <a href="{{url_for('anedotas.top')}}">Top</a>
                <a href="{{url_for('categorias.lista_categorias')}}">Categorias</a>
            </nav>
        </div>
        <div id="login">
            {% if session.get("id_utilizador") %}

                <div class="user-info">
                    <div>Olá, {{ session.get("nome_utilizador") }}</div>
                    <div class="div-area-pessoal">
                        <a class="area-pessoal" href="{{ url_for('utilizadores.area_pessoal') }}">Área pessoal</a>
                        {% if session.get("nivel_utilizador") == 2 %}
                            <a class="area-pessoal" href="{{url_for('categorias.area_categorias')}}">Categorias</a>
                        {% endif %}
                        <a href="{{ url_for('autenticacao.logout') }}" class="logout-link">Logout</a>
                    </div>
                </div>

            {% else %}
                <div id="div-logar">
                    <form method="POST" action="{{ url_for('autenticacao.login') }}">
                        <input type="text" name="user" placeholder="nick ou email">
                        <input type="password" name="password" placeholder="password">
                        <input type="submit" value="login">
                    </form>
                </div>
                <div id="div-registar">
                    Ainda não tem conta, <a href="{{ url_for('utilizadores.registo') }}">crie uma aqui.</a>
                </div>

            {% endif %}
        </div>
    </div>
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash">
      {% for categoria, mensagem in messages %}
        <div class="flash-{{ categoria }}">
          {{ mensagem }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<main class="dashboard_e_listagens container">
    {% block content %}
    <h2>Bem-vindo</h2>
    <p>Escolhe uma anedota começa a rir 😄</p>
    {% endblock %}
</main>

<footer>
    <div class="container">
        <p>© 2026 Anedotas - Todos os direitos reservados</p>
    </div>
</footer>

<div id="janelaModal" class="modal">
    <div class="modal-content">
        <h3>Confirmar eliminação</h3>
        <br><br>
        <p id="textoJanelaModal"></p>
        <br><br>
        <div class="modal-actions">
            <form id="deleteForm" method="POST">
                <button type="submit" class="btn btn-danger">Sim, eliminar.</button>
            </form>

            <button id="bt-modal-ok" class="btn btn-secondary" onclick="closeModal()">
                OK
            </button>

            <button id="bt-modal-cancelar" class="btn btn-secondary" onclick="closeModal()">
                Cancelar
            </button>
        </div>
    </div>
</div>

</body>
</html>