{% extends "base.html" %}

{% block title %}Anedotas {{ detalhes['categoria'] }} {% endblock %}

{% block content %}
    <h2>Categoria: {{detalhes['categoria']}}</h2>
    <br><br>

    <div class="anedotas-grid">
        {% if detalhes['anedotas'] %}

            {% for anedota in detalhes['anedotas'] %}
            <article class="anedota-card">
                <p class="anedota-texto">
                    <a href="{{ url_for('anedotas.detalhes_anedota', anedota_id=anedota.id) }}">
                        {{ anedota.preview }}
                    </a>
                </p>
                <div class="anedota-footer">
                    <a class="nick_e_categoria" href="{{ url_for('utilizadores.detalhes_utilizador', utilizador_id=anedota.id_utilizador)}}">
                        <span>👤 {{ anedota.nick }}</span>
                    </a>
                    <span class="data">📅 {{ anedota.data }}</span>
                </div>
            </article>
            {% endfor %}

        {% else %}
            <p>{{ detalhes['mensagem'] }}</p>
        {% endif %}
    </div>

{% endblock %}
